/* From Blog */
.bg-div {
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    position: fixed;
    background: #aaaaaa url(bg.JPG) repeat scroll top center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: transparent;
}


/* For hiding blog elements */


.post-header, .post-share-buttons.post-share-buttons-top, .post-bottom, #comments, .post-title.entry-title {
    display: none;
}
.editor-buttons {
    float: right;
    margin-top: -40px;
}
.editor-buttons button {
    padding-left: 16px;
    padding-right: 16px;
}
.editor-buttons svg {
    fill: #212121;
}
.post-body p br {
    line-height: unset;
    display: block;
    content: unset;
}
.post-body p br::before {
    content: unset;
}
.glassnote-about-msg {
    text-align: center;
    color: #fefdfd;
    text-shadow: 0px 0px .5em rgba(0,0,0, 0.66), 0px 0px 1em rgba(0,0,0, 0.66), 0px 0px 1.5em #aaaaaa;
}
.glassnote-about-msg h3 {
    color: #fefdfd;
}
.glassnote-about-msg a, .glassnote-about-msg a:visited {
    color: #aef;
}
#blog-pager, #PageList3 {
    display: none;
}
.page-lower-part {
    top: -50px;
}
.subscribe-section-container {
    display: none !important;
}
.return_link.to_top, #footer {
    display: none !important;
}
/* .more-info-msg, #blog-pager, #Header1, .label-all-container, .return_link {
    visibility: hidden;
} */




/* Editor Related */

.editor {
    position: relative;
    /* width: 690px; */
    /* box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.2); */
    text-align: left;
    /* color: #626262; */
    /* font-size: 14px; */
    /* padding: 20px; */
    outline: none;
}
.editor *[contentEditable="true"]:hover {
    /* outline: 1px solid #2276d2; */
}
.editor a {
    text-decoration: underline;
}
.editor textarea {
    display: none;
}
.editor .dfree-header {
    font-size: 2.4em;
    text-align: center;
    margin: 10px;
}
.editor .editor-body {
/* padding: 20px; */
    padding-top: 0px;
    outline: none;
    min-height: 55vh;
}
/* .editor .editor-body p {
    margin-bottom: 10px;
} */
.editor .editor-body blockquote {
    margin-left: 30px;
    padding-left: 10px;
    margin-right: 40px;
    font-style: italic;
    border-left: 1px solid #696969;
}
.editor .editor-body a {
    text-decoration: underline;
}
.editor .editor-body td,
.editor .editor-body tr {
    border: 1px solid #696969;
}