/* For glassnote */
.bg-safe-area-top {
	top: 0;
    left: 0;
	right: 0;
    height: 0;
    width: 100%;
    padding-top: env(safe-area-inset-top);
    position: fixed;
	background: rgba(0,0,0,.66);
}

.bg-div-cust {
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    position: fixed;
    background: #aaaaaa url(/assets/bg1.jpg) repeat scroll top center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: transparent;
}

.bg-div {
    display: block;
}

body.user-bg .bg-div,
.bg-div-cust {
    display: none;
}

body.user-bg .bg-div-cust {
    display: block;
}

#change-bg-button {
    display: inline;
}

body.user-bg #change-bg-button,
#remove-bg-button {
    display: none;
}

body.user-bg #remove-bg-button {
    display: inline;
}

.toolbar {
    /* background: #dddc;
    padding: 0 0 1em 0;
    border-radius: 10px; */
    /* padding: 5px 5px 15px 0; */
    display: table;
    box-sizing: border-box;
    pointer-events: none;
    transition: background .5s ease-in-out;
    position: relative;
    width: 100%;
    top: -40px;
}

.toolbar .expanded-menu {
    width: 0;
    overflow: hidden;
    display: table;
    /* display: none; */
    opacity: 0;
    padding: 15px 0;
    transform: translate(-500px, 0px);
    transition: transform .2s ease-in-out, opacity .2s ease-in-out, background .2s ease-in-out;
    background: rgba(240, 240, 240, 0.9);
    box-shadow: 1px 1px 25px -10px rgba(0, 0, 0, 0.66);
    border-radius: 10px;
    vertical-align: top;
    pointer-events: none;
    margin: 0;
    width: 100%;
}

.toolbar .expanded-menu-container {
    padding: 15px;
    margin: -15px;
    overflow: hidden;
}

.toolbar .expanded-menu-items {
    display: table-cell;
    width: 100%;
}

.toolbar-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    z-index: -1;
    pointer-events: none;
}

body.expanded-menu .toolbar {
    /* background: rgba(240, 240, 240, 0.9); */
    border-radius: 10px;
    /* box-shadow: 1px 1px 25px -10px rgba(0, 0, 0, 0.66); */
    pointer-events: all;
}

body.expanded-menu .toolbar .expanded-menu {
    opacity: 1;
    transform: none;
    pointer-events: all;
}

body.expanded-menu .toolbar-overlay {
    display: block;
    pointer-events: all;
}

.hamburger-button {
    display: table-cell;
    width: 24px;
    height: 24px;
    border: none;
    background: none;
    margin: 8px;
    padding: 0;
    pointer-events: all;
    cursor: pointer;
    vertical-align: top;
    position: absolute;
    float: left;
}

body.expanded-menu .hamburger-button {
    display: none;
}

.toolbar .expanded-menu .hamburger-button {
    position: relative;
    display: table-cell;
    margin-top: -7px;
}

.toolbar .pill-button,
.toolbar a.pill-button {
    color: #3aacc3 !important;
    text-shadow: none;
    background: none;
    border-color: #202020;
    box-shadow: none;
    /* font-weight: 500; */
    text-transform: none;
    font-size: 13px;
    margin: 6px 2px;
}

/* body.expanded-menu .expanded-menu-items {
    width: 100%;
} */

.font-size-button {
    display: none;
}

body.f12px .font-size-button:first-child, body.f13px .font-size-button:first-child,
body.f14px .font-size-button:nth-child(2),
body.f15px .font-size-button:nth-child(3),
body.f16px .font-size-button:nth-child(4),
body.f17px .font-size-button:nth-child(5), body.f18px .font-size-button:nth-child(5) {
    display: inline;
}

.opacity-button {
    display: none;
}

body.opacity-0 .opacity-button:first-child,
body.opacity-10 .opacity-button:nth-child(2),
body.opacity-20 .opacity-button:nth-child(3),
body.opacity-30 .opacity-button:nth-child(4) {
    display: inline;
}

.dark-mode-button-toolbar,
body.dark-mode .dark-mode-button-toolbar:last-child {
    display: none;
}
.dark-mode-button-toolbar:last-child,
body.dark-mode .dark-mode-button-toolbar:first-child {
    display: inline;
}

.dark_mode_overlay {
    display: none;
}
#editor-body {
    color: #202020 !important;
}
body.dark-mode #editor-body {
    color: #fefdf3 !important;
}
body.dark-mode .toolbar .expanded-menu {
    background: rgba(71, 71, 71, 0.9);
    color: #fefdf3;
}
body.dark-mode .toolbar .pill-button {
    border-color: #fefdf3;
}
body.dark-mode h1, body.dark-mode h2, body.dark-mode h3, 
body.dark-mode h4, body.dark-mode h5, body.dark-mode h6,
body.dark-mode tbc, body.dark-mode cite, body.dark-mode cm   {
    color: #3aaac3;
}

body.opacity-0 .post-outer-container {
    background: rgba(254, 254, 253, 1) !important;
}

body.opacity-10 .post-outer-container {
    background: rgba(254, 254, 253, .9) !important;
}

body.opacity-20 .post-outer-container {
    background: rgba(254, 254, 253, .8) !important;
}

body.opacity-30 .post-outer-container {
    background: rgba(254, 254, 253, .7) !important;
}

body.opacity-0.dark-mode .post-outer-container {
    background: rgba(20, 20, 20, 1) !important;
}

body.opacity-10.dark-mode .post-outer-container {
    background: rgba(20, 20, 20, .9) !important;
}

body.opacity-20.dark-mode .post-outer-container {
    background: rgba(20, 20, 20, .8) !important;
}

body.opacity-30.dark-mode .post-outer-container {
    background: rgba(20, 20, 20, .7) !important;
}

.fake-editor {
    color: #202020;
    background: transparent;
    /* font-size: 0; */
    /* color: #202020; */
    /* width: 0;
    height: 0;
    overflow: hidden; */
}

#editor-body div {
    margin-top: .1em;
    margin-bottom: 0em;
}

/* Only for Standalone Ver. */
.page-lower-part .centered {
    z-index: 20;
    padding-top: env(safe-area-inset-top);
    padding-right: env(safe-area-inset-right);
    padding-bottom: env(safe-area-inset-bottom);
    padding-left: env(safe-area-inset-left);
}

.post-outer-container {
    min-height: 40px;
    padding: 16px;
    width: auto;
    border-radius: 12px;
    background: rgba(254, 254, 253, 0.95);
    box-shadow: 0px 0px 15px -5px rgba(0, 0, 0, 0.9);
    margin-bottom: 16px !important;
    transition: color .2s ease-in-out, background .2s ease-in-out;
}

@media screen and (max-width: 886px) {
    .post-outer-container {
        margin: 0 8px;
    }
}

.glassnote-about-msg {
    margin: 1em 0 0 0;
}

@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 300;
    src: url(/assets/roboto.woff2) format('woff2');
    unicode-range: U + 0000-00FF, U + 0131, U + 0152-0153, U + 02BB-02BC, U + 02C6, U + 02DA, U + 02DC, U + 2000-206F, U + 2074, U + 20AC, U + 2122, U + 2191, U + 2193, U + 2212, U + 2215, U + FEFF, U + FFFD;
}


/* From Blog */
.bg-div {
    background: #aaaaaa url(/assets/bg1.jpg) repeat scroll top center;
    background-size: cover;
}


/* For hiding blog elements */


.post-header, .post-share-buttons.post-share-buttons-top, .post-bottom, #comments, .post-title.entry-title {
    display: none;
}
.editor-buttons {
    float: right;
    margin-top: -40px;
}
.editor-buttons button {
    padding-left: 16px;
    padding-right: 16px;
}
.editor-buttons svg {
    fill: #212121;
}
.post-body p br {
    line-height: unset;
    display: block;
    content: unset;
}
.post-body p br::before {
    content: unset;
}
.glassnote-about-msg {
    text-align: center;
    color: #fefdfd;
    text-shadow: 0px 0px .5em rgba(0,0,0, 0.66), 0px 0px 1em rgba(0,0,0, 0.66), 0px 0px 1.5em #aaaaaa;
}
.glassnote-about-msg h3 {
    color: #fefdfd !important;
}
.glassnote-about-msg a, .glassnote-about-msg a:visited {
    color: #aef;
}
#blog-pager, #PageList3 {
    display: none;
}
.page-lower-part {
    top: -50px;
}
.subscribe-section-container {
    display: none !important;
}
.return_link.to_top, #footer {
    display: none !important;
}
/* .more-info-msg, #blog-pager, #Header1, .label-all-container, .return_link {
    visibility: hidden;
} */




/* Editor Related */

.editor {
    position: relative;
    /* width: 690px; */
    /* box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.2); */
    text-align: left;
    /* color: #626262; */
    /* font-size: 14px; */
    /* padding: 20px; */
    outline: none;
}
.editor *[contentEditable="true"]:hover {
    /* outline: 1px solid #2276d2; */
}
.editor a {
    text-decoration: underline;
}
.editor textarea {
    display: none;
}
.editor .dfree-header {
    font-size: 2.4em;
    text-align: center;
    margin: 10px;
}
.editor .editor-body {
/* padding: 20px; */
    padding-top: 0px;
    outline: none;
    min-height: 60vh;
}
/* .editor .editor-body p {
    margin-bottom: 10px;
} */
.editor .editor-body blockquote {
    margin-left: 30px;
    padding-left: 10px;
    margin-right: 40px;
    font-style: italic;
    border-left: 1px solid #696969;
}
.editor .editor-body a {
    text-decoration: underline;
}
.editor .editor-body td,
.editor .editor-body tr {
    border: 1px solid #696969;
}
.editor .editor-body::first-line, .editor .editor-body > div:first-child::first-line {
    margin-top: 2em;
    font-size : 1.4em;
    line-height: 2;
    font-style : italic;
    font-weight: normal;
    color : #0e758a;
    /* width: 110%;
    padding-right: 10px;
    margin-right: 10px; */
}

#page {
    opacity: 1;
    transition: opacity .5s ease-in-out;
    -webkit-transition: opacity .5s ease-in-out;
}

body.tiny-loading #page {
    opacity: 0.5;
    /* transform: translate(-50px, 0); */
}